<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triangles</key>
	<array>
		<array>
			<array>
				<integer>1</integer>
				<integer>300</integer>
			</array>
			<array>
				<integer>125</integer>
				<integer>108</integer>
			</array>
			<array>
				<integer>240</integer>
				<integer>177</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>124</integer>
				<integer>238</integer>
			</array>
			<array>
				<integer>239</integer>
				<integer>179</integer>
			</array>
			<array>
				<integer>187</integer>
				<integer>244</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>126</integer>
				<integer>107</integer>
			</array>
			<array>
				<integer>241</integer>
				<integer>176</integer>
			</array>
			<array>
				<integer>299</integer>
				<integer>115</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>299</integer>
				<integer>74</integer>
			</array>
			<array>
				<integer>299</integer>
				<integer>114</integer>
			</array>
			<array>
				<integer>125</integer>
				<integer>106</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>300</integer>
				<integer>74</integer>
			</array>
			<array>
				<integer>300</integer>
				<integer>114</integer>
			</array>
			<array>
				<integer>387</integer>
				<integer>159</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>243</integer>
				<integer>176</integer>
			</array>
			<array>
				<integer>300</integer>
				<integer>116</integer>
			</array>
			<array>
				<integer>329</integer>
				<integer>191</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>385</integer>
				<integer>160</integer>
			</array>
			<array>
				<integer>301</integer>
				<integer>116</integer>
			</array>
			<array>
				<integer>330</integer>
				<integer>191</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>330</integer>
				<integer>192</integer>
			</array>
			<array>
				<integer>386</integer>
				<integer>160</integer>
			</array>
			<array>
				<integer>421</integer>
				<integer>180</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>329</integer>
				<integer>193</integer>
			</array>
			<array>
				<integer>396</integer>
				<integer>226</integer>
			</array>
			<array>
				<integer>372</integer>
				<integer>308</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>331</integer>
				<integer>193</integer>
			</array>
			<array>
				<integer>423</integer>
				<integer>181</integer>
			</array>
			<array>
				<integer>479</integer>
				<integer>266</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>424</integer>
				<integer>180</integer>
			</array>
			<array>
				<integer>526</integer>
				<integer>167</integer>
			</array>
			<array>
				<integer>487</integer>
				<integer>216</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>425</integer>
				<integer>182</integer>
			</array>
			<array>
				<integer>489</integer>
				<integer>219</integer>
			</array>
			<array>
				<integer>480</integer>
				<integer>265</integer>
			</array>
		</array>
		<array>
			<array>
				<integer>416</integer>
				<integer>237</integer>
			</array>
			<array>
				<integer>451</integer>
				<integer>280</integer>
			</array>
			<array>
				<integer>479</integer>
				<integer>267</integer>
			</array>
		</array>
	</array>
	<key>colors</key>
	<array>
		<array>
			<real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
        <array>
			<real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
        <array>
			<real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
		</array>
        <array>
			<real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
        <array>
			<real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
		</array>
        <array>
			<real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
        <array>
			<real>0.65</real>
            <real>0.65</real>
            <real>0.65</real>
            <real>1.0</real>
		</array>
	</array>
</dict>
</plist>
